/* ==========================================================================
   Default skin
   ========================================================================== */
$link-color: #002080 !default;
$primary-color: #002080 !default;

.page__title{ // 내가 새로 추가
  color: $link-color;
}
// Intentionally left blank
